<mat-toolbar color="primary">
    Add Review
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

    <form novalidate [formGroup]="addReviewForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="companyName" placeholder="Company Name" type="text" required>
        </mat-form-field>
        <br>
            <mat-label>Rate</mat-label><br>
            <mat-slider
              thumbLabel
              [displayWith]="formatLabel"
              tickInterval="1"
              step="1"
              min="1"
              max="5"
              formControlName="rating"
             >
          </mat-slider>
          <br>
        
        <mat-form-field appearance="fill">
            <textarea matInput formControlName="review" placeholder="review" type="text" required></textarea>
        </mat-form-field>
        
      </p>
      
      <button type="submit" mat-button class="background-primary text-floral-white">Submit</button>
    </form>
