<mat-toolbar color="primary">
    Add Review
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

    <form novalidate [formGroup]="addReviewForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="companyName" placeholder="companyName" type="text" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Rate</mat-label>
            <mat-select>
              <mat-option *ngFor="let level of rate" [value]="level.value">
                {{level.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        
        <mat-form-field appearance="fill">
            <textarea matInput formControlName="review" placeholder="review" type="text" required></textarea>
        </mat-form-field>
        
      </p>
      
      <button type="submit" mat-button class="background-primary text-floral-white">Submit</button>
    </form>
