<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <div class="large-container">
        
            <div class="fb-profile">
                <div>
                    <img  align="left" class="fb-image-lg" src="assets/images/purple-bg.jpg" alt="Profile image example"/>
                    <a class="login" mat-button (click)="openAddReviewForm()" mat-raised-button color="primary"><span class="fa fa-plus-circle">Add Review</span></a>
                </div>
                <img  align="left" class="fb-image-profile thumbnail" src="assets/images/virtusa.jfif" alt="Profile image example"/>
                <div class="fb-profile-text">
                    <h2>Virtusa</h2>
                </div>
            
        </div>

        <div class="company-overview">
            <h3>Overview</h3>
            <ul>
                <li>Headquarters  -  Westborough, MA</li>
                <li>Founded  -   1996</li>
                <li>Size  -  10000+ employees</li>
                <li>Industry  -  IT Services</li>
            </ul>
            <br>
            <hr>
            <p>Virtusa believes that virtually any business can improve its technology. Founded in 1996, 
                the company provides a variety of software development and information technology services, 
                including software engineering, application development, application outsourcing, maintenance, 
                systems integration, and legacy system conversion. </p>
        </div>

        <div class="company-review">
             <h3>Reviews</h3>
            <mat-card *ngFor="let review of rating" class="card1">
                <mat-card-header>
                    <div mat-card-avatar class="avatar"></div>
                    <div mat-card-avatar class="rating"></div>
                    <mat-card-title>{{review.rating }} 
                        <span class="fa fa-star checked"></span>
                    </mat-card-title>
                    <mat-card-subtitle>{{review.dateRated | date}}</mat-card-subtitle>
                    <mat-card-subtitle>{{review.review}}</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            
        </div>
        </div>
    </body>

</html>