<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Login Register</title>
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
 <link rel="stylesheet" 
 href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
 <style>
  html{
   padding:50px;
  }
 </style>
</head>
<body>
 <div class="container">
  <div class="col-sm-6 col-sm-offset-3">
   <h2>Rating</h2>

   <form action="/rateindex" method="post">
       
    <div class="form-group">

    <div class="form-group">
     <label>Username or Email</label>
     <input type="text" class="form-control" name="username">
    </div>

    <div class="form-group">
        <label>stupid date</label>
        <input type="date" class="form-control" name="date">
       </div>

    <div class="form-group">
        <label>Company</label>
        <select name = "company">
            <option value = "CID01">Virtusa</option>
            <option value = "CID02">Sysco Labs</option>
            <option value = "CID03">Aternum</option>
            <option value = "CID04">99X Technologies</option>
        </select>    
       </div>

       <label>Review</label>
       <select name = "review">
           <option value = "Good">Good</option>
           <option value = "Average">Average</option>
           <option value = "Bad">Bad</option>
       </select>    
      </div>

      <label>Rating</label>
       <select name = "rating">
           <option value = "1.0">1</option>
           <option value = "2.0">2</option>
           <option value = "3.0">3</option>
           <option value = "4.0">4</option>
           <option value = "5.0">5</option>
       </select>    
      </div>

    
            

    <button type="submit" class="btn btn-succcess btn-lg">Confirm Review</button>
   </form>

   <hr>

   <p>Go Back <a href="/">Home</a>.</p>
  </div>
 </div>
</body>
</html>