<div class="container jumbotron"
fxLayout="row"
fxLayout.sm="column" 
fxLayout.xs="column" 
fxLayoutAlign.xs="start center"
fxLayoutAlign.sm="start center" 
fxLayoutAlign.gt-sm="center center" 
fxLayoutGap="10px">

<div fxFlex fxFlex.gt-sm="50%">
  <mat-card class="intro">
    <h1>What is JobStack?</h1>
    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
        will tickle your culinary senses!We take inspiration from the World's best cuisines
        ,and create a unique</p>

   
      <button mat-button (click)="openLoginForm()">Login</button>
      <button mat-button color="primary" routerLink="/register">Register</button>
    
        
  </mat-card>
  
</div>
<div></div>
<div fxFlex fxFlex.gt-sm="20%">
  <img src="/assets/images/logo.png" alt="Logo" width="300" height="300">
</div>



</div>