<div class="row" fxFlex fxFlexLayoutGap="20px">
    <mat-card class="form-size" >
      <h1>Edit Profile</h1>
      
      <form
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()" 
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="form.username"
            
            #username="ngModel"
          />
          
          
        </div>
       
  
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input
            type="text"
            class="form-control"
            name="firstname"
            [(ngModel)]="form.firstname"
            
            #firstname="ngModel"
            
          />
        </div>
        
          
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input
            type="text"
            class="form-control"
            name="lastname"
            [(ngModel)]="form.lastname"
            
            #lastname="ngModel"
            
          />
          
          
        </div>
        <div class="form-group">
          <label for="birthDate">Enter your Birth Date</label>
          <input
            [matDatepicker]="picker"
            class="form-control"
            name="birthDate"
            [(ngModel)]="form.birthDate"
            
              #birthDate="ngModel" 
          />
          
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker> 
          
        </div>
  
        <div class="form-group">
          <label for="gender">Gender</label>
          <mat-select 
          placeholder="Gender"
          class="form-control"
          name="gender"
          
          [(ngModel)]="form.gender" #gender="ngModel"
          >
          
  
          <mat-option class="form-control" value="female" name="female" > Female</mat-option>
          <mat-option class="form-control" value="male" name="male" > Male</mat-option>
  
          </mat-select>
        </div>
  
        <div class="form-group">
          <label for="nameOfSchool">Name of School</label>
          <input
            type="text"
            class="form-control"
            name="nameOfSchool"
            [(ngModel)]="form.nameOfSchool"
           
            #nameOfSchool="ngModel"
          />
          
          
        </div>
  
        <div class="form-group">
          <label for="nameOfUni">Name of University</label>
          <input
            type="text"
            class="form-control"
            name="nameOfUni"
            [(ngModel)]="form.nameOfUni"
            
            #nameOfUni="ngModel"
          />
          
          
        </div>
  
        <div class="form-group">
          <label for="degreeQual">Degree of Qualification</label>
          <mat-select 
          placeholder="Degree of Qualification"
          class="form-control"
          name="degreeQual"
          [(ngModel)]="form.degreeQual"
          
          #degreeQual="ngModel"
          >
          
  
          <mat-option class="form-control" value="DID01"  name="ComputerScience"> Computer Science</mat-option>
          <mat-option class="form-control" value="DID02" name="SoftwareEngineering"  > Software Engineering</mat-option>
          <mat-option class="form-control" value="DID03W"  name="BusinessInformationSystems"> Business Information Systems</mat-option>
          <mat-option class="form-control" value="DID04" name="InformationSystems"> Information Systems</mat-option>
  
          </mat-select>
        </div>
  
        <div class="form-group">
          <label for="Skills">Skills</label>
          <ol>
              <li>
                  <mat-checkbox  class="form-control" name="codingSkill" [(ngModel)]="form.codingSkill"  #codingSkill="ngModel">Coding Skills</mat-checkbox>
                  
              </li>
              <li>
                  <mat-checkbox  class="form-control" name="socialSkill" [(ngModel)]="form.socialSkill"  #socialSkill="ngModel">Social Skills</mat-checkbox>
                  
              </li>
              <li>
                  <mat-checkbox  class="form-control" name="langSkill" [(ngModel)]="form.langSkill"  #langSkill="ngModel">Language Skills</mat-checkbox>
                  
              </li>
              <li>
                  <mat-checkbox  class="form-control" name="webDev" [(ngModel)]="form.webDev"  #webDev="ngModel" >Web Development</mat-checkbox>
                  
              </li>
              <li>
                  <mat-checkbox  class="form-control" name="programDev" [(ngModel)]="form.programDev"  #programDev="ngModel" >Program Development</mat-checkbox>
                  
              </li>
                 
          </ol>
        </div>
        <div class="form-group">
          <label for="specialization">Specialization</label>
          <ol>
              <li>
                  <mat-checkbox  class="form-control" name="backend" [(ngModel)]="form.backend"  #backend="ngModel">Backend Development</mat-checkbox>
                  
              </li>
              <li>
                  <mat-checkbox  class="form-control" name="frontend" [(ngModel)]="form.frontend"  #frontend="ngModel">Frontend Development</mat-checkbox>
                  
              </li>
              <li>
                  <mat-checkbox  class="form-control" name="fullstack"[(ngModel)]="form.fullstack"  #fullstack="ngModel" >Fullstack Development</mat-checkbox>
                  
              </li>
              <li>
                  <mat-checkbox  class="form-control" name="web"[(ngModel)]="form.web"  #web="ngModel" >Web Development</mat-checkbox>
                  
              </li>
              <li>
                  <mat-checkbox  class="form-control" name="mobile" [(ngModel)]="form.mobile"  #mobile="ngModel">Mobile Application Development</mat-checkbox>
                  
              </li>
              <li>
                  <mat-checkbox  class="form-control" name="uiux" [(ngModel)]="form.uiux"  #uiux="ngModel">UI/UX</mat-checkbox>
                  
              </li>
                 
          </ol>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" (click)=onSubmit()>Edit</button>
        </div>
  
       
      </form>
  
    
    </mat-card>
  </div>
