<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
        <style>
            .bg {
                /* The image used */
                background-image: url("assets/images/happy-employee.jpg");
                
            }
                
        </style>
    </head>
    <body>
        <div class="bg">
        
            <div class="text-center">
                <p class="font-bold " data-wow-delay="0.3s">JOBSTACK </p>
                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                <h5 class="wow fadeInLeft" data-wow-delay="0.3s">Your journey starts here... </h5>
                <br>
                <button class="button" routerLink="/sign-up">Sign Up</button>
              <br><br>
          </div>
        </div>


        <div class="row-1">
            <h2>Login here!</h2>

            <form action="/action_page.php" method="post">
                <div class="container" >
                    <button class="button-3" style="margin-left: 190px; position: relative;">Log in with Facebook</button>
                    <button class="button-4" style="margin-left: 190px; position: relative;">Continue with Google</button>  
                </div>>
                <div class="imgcontainer">
                    <img src="assets/images/user.jpg" alt="user" class="avatar">
                </div>

                <div class="container">
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname" required>

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>
        
                    <button class="button-2" type="submit">Login</button>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div>

                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" class="cancelbtn">Cancel</button>
                    <span class="psw">Forgot <a href="#">password?</a></span>
                </div>
            </form>
        </div>

        <h2 >Our Mission</h2>
        <main class="container2">
            <section class="card" >
                <img src="assets/images/job_seeker.png" alt="job_seeker" class="job_seeker">
                <div>
                    <h3>For job seekers...</h3>
                    <p> You can get recommendations for the most suitable company that will not only match your skills but also 
                        what you love to do and also provide you with a good salary, that has a very good background from
                         the public</p>
                </div>
            </section>

            <section class="card" >
                <img src="assets/images/company.jpg" alt="company" class="company">
                <div>
                    <h3>For companies...</h3>
                    <p> You can post your jobs and vacancies by registering and
                        later on manage the posted jobs and view the list of applicants to hire the best employee
                         who is perfect for that particular job.</p>
                </div>
            </section>
            
        </main>
        
    </body>
</html>

