$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$background-moredark: rgb(55, 36, 99);


.login{
    color:white;
    font-family:Roboto,'sans-serif';
}

.active{
    background: $background-moredark;
    color:white;
}
.toolbar{
    color:white;
}