<mat-toolbar class="toolbar">
    <span><img src="/assets/images/logo.png" height=40 width=40></span>
    <a mat-button routerLink="/home" routerLinkActive="active" ><span class="fa fa-home fa-lg"></span> Home</a>
    <a mat-button routerLink="/register" *ngIf="!isLoggedIn" routerLinkActive="active" ><span class="fa fa-list fa-lg"></span> Register</a>
    <a mat-button routerLink="/company" routerLinkActive="active" ><span class="fa fa-building fa-lg"></span> Company</a>
    <!-- <a mat-button routerLink="/com-card" routerLinkActive="active" ><span class="fa fa-building fa-lg"></span> Card</a> -->
    <a mat-button *ngIf="isLoggedIn" routerLink="user"><span class="fa fa-user fa-lg"></span> User</a>
    <a mat-button class="nav-link"*ngIf="isLoggedIn" routerLink="profile">{{ username }}</a>
    
    
   
    <span class="flex-spacer"></span>
    <form class="form-inline">
      <div class="form-group mx-sm-3 mb-2">
        <input matInput class="form-control" type="search" placeholder="Search" name='search' [(ngModel)]='search'>
        <button mat-button type="submit" class="light" (click)=onSearch()>Search</button>     
      </div>
    </form>
    <a mat-button href *ngIf="isLoggedIn" (click)="logout()"><span class="fa fa-sign-in fa-lg"></span> LogOut</a>
    <a mat-button class="login" *ngIf="!isLoggedIn" (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span> Login</a>
  </mat-toolbar>