<div class="container">
    <div class="card">
        <img src="assets/images/WSO2-logo.png" alt="WSO2 logo" >
        <h1>WSO2</h1>
        <p class="title">Company - Private</p>
        <a href="https://wso2.com/">www.wso2.com</a>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a> 
          <a href="#"><i class="fa fa-twitter"></i></a>  
          <a href="#"><i class="fa fa-linkedin"></i></a>  
          <a href="#"><i class="fa fa-facebook"></i></a> 
        </div>
        <p><button routerLink="/wso2-profile">View Profile</button></p>
      </div>

      <div class="card">
        <img src="assets/images/SyscoLABS-logo.png" alt="SyscoLABS logo" >
        <h1>Sysco LABS</h1>
        <p class="title">Company - Private</p>
        <a href="https://syscolabs.lk/">www.syscolabs.lk</a>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a> 
          <a href="#"><i class="fa fa-twitter"></i></a>  
          <a href="#"><i class="fa fa-linkedin"></i></a>  
          <a href="#"><i class="fa fa-facebook"></i></a> 
        </div>
        <p><button routerLink="/syscolabs-profile">View Profile</button></p>
      </div>

      <div class="card">
        <img src="assets/images/virtusa.jfif" alt="virtusa logo" >
        <h1>Virtusa</h1>
        <p class="title">Company - Public (VRTU)</p>
        <a href="https://www.virtusa.com/">www.virtusa.com</a>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a> 
          <a href="#"><i class="fa fa-twitter"></i></a>  
          <a href="#"><i class="fa fa-linkedin"></i></a>  
          <a href="#"><i class="fa fa-facebook"></i></a> 
        </div>
        <p><button routerLink="/virtusa-profile">View Profile</button></p>
      </div>
</div>