  <div 
fxLayout="row"
fxLayoutGap="10px">

<div fxFlex>
            <mat-card class="profile">
                <mat-card-header>
                    <mat-card-title class="profile-head">
                      <img mat-card-image src="assets/images/profile.png">
                      <a mat-button href="/edit" routerLink="/edit" ><span class="fa fa-edit fa-lg"></span> Edit</a>
                    
                        <h1 ></h1>
                        
                        <h2>Welcome to JobStack</h2>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content> 
                    <br>
                    <table>
                        <tr>
                            <td>Username</td>
                            <td>: {{user.username}}</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>: {{user.name}}</td>
                        </tr>
                        <tr>
                            <td>Date of Birth</td>
                            <td>: {{user.dob | date}}</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>: {{user.gender}}</td>
                        </tr>
                        <tr>
                            <td>School</td>
                            <td>: {{user.school}}</td>
                        </tr>
                        <tr>
                            <td>University</td>
                            <td>: {{user.university}}</td>
                        </tr>
                        <tr>
                            <td>Degree of Qualification</td>
                            <td>: {{user.degree}}</td>
                        </tr>
                        <tr>
                            <td>Skills</td>
                            <td>:</td>
                       
                        </tr>
                        <br>
                        <tr *ngFor="let skill of skills"> {{skill}}</tr><br>
                        <tr>
                            <td>Specialization</td>
                            <td>:</td>
                        </tr>
                        <br>
                        <tr *ngFor="let specialization of specializations"> {{specialization}}</tr>
                        
                    </table>
                </mat-card-content>
                <mat-card-footer>
                  
                </mat-card-footer>
            </mat-card>
</div>
<div fxFlex fxLayout="column" fxLayoutGap="2px">
    
    
      <span class="recom">
        <h2>Your Recommendations!</h2>
      </span>
       
     
    <mat-card class="card1">
      
        <mat-card-header>
            <div mat-card-avatar class="vimage"></div>
            <mat-card-title>Virtusa</mat-card-title>
            <mat-card-subtitle>Company - Public</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
    </mat-card>
    <mat-card class="card1">
        <mat-card-header>
            <div mat-card-avatar class="simage"></div>
            <mat-card-title>Sysco Labs</mat-card-title>
            <mat-card-subtitle>Company - Private</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
    </mat-card>
    <mat-card class="card1">
        <mat-card-header>
            <div mat-card-avatar class="wimage"></div>
            <mat-card-title>Wso2</mat-card-title>
            <mat-card-subtitle>Company - Private</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
    </mat-card>
    <mat-card class="card1">
      <mat-card-header>
          <div mat-card-avatar class="nimage"></div>
          <mat-card-title>99x Technologies</mat-card-title>
          <mat-card-subtitle>Company - Private</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
  </mat-card>
  <mat-card class="card1">
      <mat-card-header>
          <div mat-card-avatar class="uimage"></div>
          <mat-card-title>Unilever</mat-card-title>
          <mat-card-subtitle>Company - Private</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        </mat-card-content>
        </mat-card>
        
</div>               
</div>


    

   

