.profile{
    background-image: linear-gradient(rgb(34, 2, 71),rgb(138, 6, 120));
    color:white;
    border-radius:none;
    height:100%;
    padding:6%;
}

.mat-list-item{
    color:rgb(180, 179, 179);
    padding:0;
    font-weight: lighter;
}
.mat-button{
    border:1px solid rgb(172, 169, 169);
}
.profile-head{
    text-align:center
}
hr{
    margin:1%;
    border:0.5px solid white;
}
img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width:30%;
}

.card1{
    background-color:rgba(255, 255, 255, 0);  
}

.vimage{
    background-image:url("/assets/images/virtusa.jfif");
    background-size: cover;
    box-shadow:2px 2px 4px rgba(0, 0, 0, 0.294);
}


.mat-card{
    border-radius:0;
}

.recom{
    text-align:center;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding:5%;
}
h2{
    text-align:center;
    font-family: Roboto, sans-serif;
}

