
<div class="container"
fxLayout="row"
fxLayoutGap="10px">

<div fxFlex>
            <mat-card class="profile">
                <mat-card-header>
                    <mat-card-title>
                        <h1 class="profile-head">Hi Hiruni!<br> Welcome back</h1>
                        <img matListAvatar src="../../assets/images/profile.png" alt="profileImage">
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content> 
                    <br>
                            <p matLine>
                                <span>Name: </span>
                            </p>
                            <p matLine>
                                <span>Username: </span>
                            </p>
                            <p matLine>
                                <span>Date of Birth: </span>
                            </p>
                            <p matLine>
                                <span>Skills: </span>
                            </p>
                            <p matLine>
                                <span>Specialization: </span>
                            </p>
                            <p matLine>
                                <span>Degree of Qualification: </span>
                            </p>
                  
                </mat-card-content>
                <mat-card-footer>
                  
                </mat-card-footer>
            </mat-card>
</div>
<div fxFlex fxLayout="column">
    <form>
        <mat-form-field>
          
          <input matInput type="search" placeholder="Search" >
          
        </mat-form-field>
      </form>
    
    
    <mat-card class="card1">
        <mat-card-header>
            <mat-card-title>
               <h1>Virtusa</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content> 
            
        </mat-card-content>
        <mat-card-footer>
          
        </mat-card-footer>
    </mat-card>
    <mat-card class="card1">
        <mat-card-header>
            <mat-card-title>
               <h1>Virtusa</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content> 
            
        </mat-card-content>
        <mat-card-footer>
          
        </mat-card-footer>
    </mat-card>
    <mat-card class="card1">
        <mat-card-header>
            <mat-card-title>
               <h1>Virtusa</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content> 
            
        </mat-card-content>
        <mat-card-footer>
          
        </mat-card-footer>
    </mat-card>
</div>
        
       
               
                    <!-- <mat-card>
                        <mat-card-header>
                            <h2 matLine>Sysco Labs</h2>
                        </mat-card-header>
                        <mat-card-content>
                            
                        </mat-card-content>
                        <mat-card-footer>
        
                        </mat-card-footer>
                    </mat-card>

                    <mat-card>
                        <mat-card-header>
                            <h2 matLine>99x</h2>
                        </mat-card-header>
                        <mat-card-content>
                            
                        </mat-card-content>
                        <mat-card-footer>
        
                        </mat-card-footer>
                    </mat-card>
                -->
            
   
    
    <!-- <table>
        <td class="profile" >
            <div>
                
                <br>
            </div>
            <div>
                <hr>

            </div>
        </td>
        <td>

        </td>
    </table> -->

</div>

    

   

