<div class="container" fxFlex  fxFlexLayoutGap="20px" >
    <mat-card class="form-size">
        <h1>Register</h1>
    <p>{{registerForm.value | json}}{{registerForm.status | json}}</p>
    <form  novalidate [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
    <p>
        <mat-form-field class="half-width">
            <input matInput formControlName="username" placeholder="Username" type="text" required>
            <mat-error *ngIf="formErrors.username">{{formErrors.username}}</mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
            <input matInput formControlName="password" placeholder="Password" type="password" required>
            <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>
        </mat-form-field>
    </p>

    <p>
    <mat-form-field class="half-width">
        <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
        <mat-error *ngIf="formErrors.firstname">{{formErrors.firstname}}</mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
        <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
        <mat-error *ngIf="formErrors.lastname">{{formErrors.lastname}}</mat-error>
    </mat-form-field>
    </p>

    <table>
        <tr>
            <td>
                <mat-label>Enter your Birth Date</mat-label>
                <input matInput formControlName="birthDate" [matDatepicker]="picker" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>  
                <mat-error *ngIf="formErrors.birthDate">{{formErrors.birthDate}}</mat-error>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="half-width">
                    <mat-select placeholder="Gender" formControlName="gender" required>
                        <mat-option *ngFor="let gender of gender" [value]="gender">
                          {{ gender }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formErrors.gender">{{formErrors.gender}}</mat-error>
            </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field  class="half-width">
                    <input matInput formControlName="nameOfSchool" placeholder="Name of School" type="text" required>
                    <mat-error *ngIf="formErrors.nameOfSchool">{{formErrors.nameOfSchool}}</mat-error>
                </mat-form-field >
                <mat-form-field  class="half-width">
                    <input matInput formControlName="nameOfUni" placeholder="Name of University" type="text" required>
                    <mat-error *ngIf="formErrors.nameOfUni">{{formErrors.nameOfUni}}</mat-error>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Skills</h3>
                <ol>
                    <li>
                        <mat-checkbox  formControlName="codingSkill">Coding Skills</mat-checkbox>
                    </li>
                    <li>
                        <mat-checkbox  formControlName="socialSkill">Social Skills</mat-checkbox>
                    </li>
                    <li>
                        <mat-checkbox  formControlName="langSkill">Language Skills</mat-checkbox>
                    </li>
                    <li>
                        <mat-checkbox  formControlName="webDev">Web Development</mat-checkbox>
                    </li>
                    <li>
                        <mat-checkbox  formControlName="programDev">Program Development</mat-checkbox>
                    </li>
                       
                </ol>
                
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="half-width">
                    <mat-select placeholder="Degree of Qualification" formControlName="degreeQual" required>
                        <mat-option class="half-width" *ngFor="let degree of degreeQual" [value]="degree">
                            {{ degree }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formErrors.degreeQual">{{formErrors.degreeQual}}</mat-error>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="half-width">
                    <mat-select placeholder="Specialization" formControlName="specialization" required>
                        <mat-option *ngFor="let special of specialization" [value]="special">
                            {{ special }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formErrors.specialization">{{formErrors.specialization}}</mat-error>
                </mat-form-field>
            </td>
        </tr>
    </table>
       
        <button type="submit" [disabled]="registerForm.invalid" mat-button class="background-primary text-floral-white">Submit</button>
        </form>
    </mat-card>
    
</div>