.full-width{
    width:95%;
    
}
.half-width{ 
    margin:1%;
    width:70%;
}

.form-size{
 
    align-items: center;
    margin:0 auto;
    margin-top: 10%;
    margin-bottom:10%;
   
    
    
}
td{
    padding-bottom:30px;
}
.container{
    margin:0;
    background-image:url("/assets/images/registerbg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}