<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <div class="large-container">
        
            <div class="fb-profile">
                <div>
                    <img  align="left" class="fb-image-lg" src="assets/images/purple-bg.jpg" alt="Profile image example"/>
                    <a class="login" mat-button (click)="openAddReviewForm()" mat-raised-button color="primary"><span class="fa fa-plus-circle">Add Review</span></a>
                </div>
                <img  align="left" class="fb-image-profile thumbnail" src="assets/images/SyscoLABS-logo.png" alt="Profile image example"/>
                <div class="fb-profile-text">
                    <h2>Sysco LABS (SL)</h2>
                </div>
            
        </div>

        <div class="company-overview">
            <h3>Overview</h3>
            <ul>
                <li>Headquarters  -  Colombo (Sri Lanka)</li>
                <li>Founded  -   Unknown</li>
                <li>Size  -  201 to 500 employees</li>
                <li>Industry  -  IT Services</li>
            </ul>
            <br>
            <hr>
            <p>Sysco LABS, comprised of CAKE and Customer Experience (CX), combines Silicon Valley innovation with
                 decades of restaurant expertise. We believe technology is the key to improving the restaurant experience
                  for both diners and restaurateurs.

                Sysco LABS believes in the power that technology has to change the world, driven by a desire to build 
                products that revolutionize the customer experience across the entire food service industry.</p>
        </div>

        <div class="company-review">
            <h3>Reviews</h3>
            <mat-list>
                <mat-list-item>
                    {{passRating.dateRated}}
                </mat-list-item>
                <mat-list-item>
                    {{passRating.rating}}
                </mat-list-item>
                <mat-list-item>
                    {{passRating.review}}
                </mat-list-item>
            </mat-list>
        </div>
        </div>
    </body>

</html>
