<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <div class="large-container">
        
            <div class="fb-profile">
                <div>
                    <img  align="left" class="fb-image-lg" src="assets/images/purple-bg.jpg" alt="Profile image example"/>
                    <a class="login" mat-button (click)="openAddReviewForm()" mat-raised-button color="primary"><span class="fa fa-plus-circle">Add Review</span></a>
                </div>
                <img  align="left" class="fb-image-profile thumbnail" src="assets/images/WSO2.png" alt="Profile image example"/>
                <div class="fb-profile-text">
                    <h2>WSO2</h2>
                </div>
            
        </div>

        <div class="company-overview">
            <h3>Overview</h3>
            <ul>
                <li>Headquarters  -  Mountain View,CA</li>
                <li>Founded  -   2005</li>
                <li>Size  -  501 to 1000 employees</li>
                <li>Industry  -  IT Services</li>
            </ul>
            <br>
            <hr>
            <p>Founded in August 2005, WSO2 is a global enterprise middleware corporation 
                with offices in USA, UK and Sri Lanka. Providing the only complete open source 
                middleware platform from on-premise to cloud, WSO2 is revolutionizing the industry by 
                putting traditional middleware on a diet and introducing lean, powerful and flexible 
                solutions to address the 21st century enterprise challenges.</p>
        </div>

        <div class="company-review">
            <h3>Reviews</h3>
            <mat-list>
                <mat-list-item>
                    {{passRating.dateRated}}
                </mat-list-item>
                <mat-list-item>
                    {{passRating.rating}}
                </mat-list-item>
                <mat-list-item>
                    {{passRating.review}}
                </mat-list-item>
            </mat-list>
        </div>
        </div>
    </body>

</html>