<!-- 
<mat-toolbar color="primary">
    Login
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

    <form #logform="ngForm" novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit(logform)">
      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="username" placeholder="Username" type="text" required>
        </mat-form-field>
        <mat-form-field class="half-width">
          <input matInput formControlName="password" placeholder="Password" type="password" required>
        </mat-form-field>
        
      </p>
      w
      
      <button type="submit" mat-button class="background-primary text-floral-white">Submit</button>
    </form>
   -->