<div class="container-fluid">
    <div class="row">

    </div>
    <div class="row">
        
        <div class="col">
            <img class="rounded" src="\assets\images\download.jfif" class="img-fluid" alt="Responsive image">
            <h4>Our culture is our IP</h4>
        </div>

        
            <div class="col text-light ">
               

                <div class="row">
                    
                </div>
            </div>
        
       
        
        <div class="col">
           
        </div>
        
        
    </div>       
        
    

    <div class="row p-3">
        <div class="col-md">
            <h2>hi</h2>
        </div>
        <div class="col-md">
            <h2>hi</h2>
        </div>
    </div>

</div>
