body,
html {
  max-height: 50%;
  max-width: 98%;

}

*{
  box-sizing: border-box;
}

.col{
    margin-top: 110px;
    margin-right: 50px;
    margin-left: 70px;
    float: left;
    width: 50%;
    padding: 10px;
                
}

.post-job {
  height: 110%;
  max-width: 100%;
  /* Center and scale the image nicely */
  border-radius: 25px;

  
}

.button {
  background-color: violet; /* Green */
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bolder;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  float:right;
  
}

.button:hover {
  background-color: black;
  color: white;
}

h2{
  color: purple;
  text-align: center;
  padding-bottom: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .row{
      display: block;
  }
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    color: white;
  }
  
  .example-full-width {
    width: 100%;
    color: white;
  }
  
  td {
    padding-right: 8px;
  }
  