<!DOCTYPE html>
<html>
    <head>
        <title>Post Job</title>

    </head>
    <body>
        <div class="bg">

            <div class="row">

                <div class="col">
                    
                    <div class="col-sub1">
                    <h2>Post Your Job Here!</h2>
                    
                    <form class="form">  
                        <div class="form-group">
                          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Company Name">
                        </div>
                        
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Job Title">
                          </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Location">
                        </div>
                        
                        <div class="form-group">
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Job Requirement"></textarea>
                        </div>
                      </form>


                      <button class="button" >Post Job</button>
                    </div>
                </div>

                <div class="col">
                    <div class="col-sub2">
                        <img src="assets/images/post-job.jpg" alt="post-job" class="post-job">
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>



