<div class="jumbotron"

fxLayout.sm="column" 
fxLayout.xs="column" 
fxLayoutAlign.xs="start center"
fxLayoutAlign.sm="start center" 
fxLayoutAlign.gt-sm="center center" 
fxLayoutGap="10px">

<mat-card class="intro">
            <mat-card-header>
                <mat-card-title>
                    Company Name
                </mat-card-title>
                <mat-card-subtitle>
                    Company Location
                </mat-card-subtitle>
               
            </mat-card-header>
            
        </mat-card>  
</div>

